.LinkHomeCard {
  text-decoration: none;
  color: black;
}

.homeContainer {
  margin-right: 15px;
  min-width: 100px;
  max-width: 38%;

  /* border: 1px solid green; */
}

.homeCard {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
  background-color: white;
}

.leftHomeCard {
  background-color: #f8f9fa;
  min-width: 50px;
  max-width: 50px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
}

.rightHomeCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  margin-left: 1.5%;
}

.bottomHomeCard {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 1px solid blue; */
  box-sizing: border-box;
}

.authorHomeCard {
  font-size: 12px;
  color: grey;
  margin-left: 1%;
  margin-bottom: 0;
  padding-bottom: 0;
  /* border: 1px solid orange; */
}

.titleHomeCard {
  /* border: 1px solid red; */
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 10px;
}

.textHomeCard {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.commentHomeCard {
  color: #878a8c;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: 600;
  margin-right: 2.5%;
  margin-top: 0px;
  margin-bottom: 0px;
  /* border: 1px solid green; */
}

.picHomeCard {
  width: 18px;
  height: 12px;
}

.picHomeCardBody {
  width: 300px;
  height: 300px;
  margin-left: 20%;
  margin-top: 5px;
}

.picBottomHomeCard {
  width: 15px;
  height: 15px;
  /* border: 1px solid red; */
  margin-top: 0px;
}

.buttonScoreHomeCard {
  background-color: transparent;
  border: none;
}

.buttonScoreHomeCard:hover {
  cursor: pointer;
}
