.LinkHomeCard {
  text-decoration: none;
  color: black;
}

.homeContainer {
  margin-top: 1.5%;
  margin-left: 15%;
}

.homeCard {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
  background-color: white;
}

.leftHomeCard {
  background-color: #f8f9fa;
  min-width: 50px;
  max-width: 50px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
}

.rightHomeCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.5%;
}

.bottomHomeCard {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.authorHomeCard {
  font-size: 12px;
  color: grey;
  margin-left: 1%;
  margin-bottom: 0;
  padding-bottom: 0;
  /* border: 1px solid orange; */
}

.titleHomeCard {
  /* border: 1px solid red; */
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 10px;
  word-wrap: break-word;
}

.textHomeCard {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 15px;
  word-wrap: break-word;
}

.commentHomeCard {
  color: #878a8c;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: 600;
  margin-right: 2.5%;
  margin-top: 0px;
  margin-bottom: 0px;
  /* border: 1px solid green; */
}

.picHomeCard {
  width: 18px;
  height: 12px;
}

.picAndVidHomeCardBody {
  width: 300px;
  height: 300px;
  margin-left: 20%;
  margin-top: 5px;
}

.picBottomHomeCard {
  width: 15px;
  height: 15px;
  /* border: 1px solid red; */
  margin-top: 0px;
}

.buttonScoreHomeCard {
  background-color: transparent;
  border: none;
}

.buttonScoreHomeCard:hover {
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .homeContainer {
    width: 1930px;
  }
}

@media screen and (max-width: 1200px) {
  .homeContainer {
    margin-left: 12%;
  }
}

@media screen and (max-width: 1000px) {
  .homeContainer {
    min-width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .rightHomeCard {
    width: 85%;
  }
}

@media screen and (min-width: 900px) {
  .rightHomeitCard {
    width: 90%;
  }
}

@media screen and (max-width: 730px) {
  .picAndVidHomeCardBody {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 630px) {
  .homeContainer {
    width: 100%;
    margin-left: 0%;
  }
  .picAndVidHomeCardBody {
    width: 200px;
    height: 200px;
    margin: 10%;
  }
}
