.categorySharedLayout {
  display: flex;

  padding-left: 0px;
  margin-left: 2.5%;
  margin-right: 15%;
  margin-top: 1.5%;
  margin-bottom: 8%;
  width: 40%;
  /* min-width: 200px; */
  max-height: 390px;
}

/* @media screen and (min-width: 1165) {
  .categorySharedLayout {
    width: 40%;
  }
} */

@media screen and (min-width: 1200px) {
  .categorySharedLayout {
    min-width: 200px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .categorySharedLayout {
    margin-right: 10%;
  }
}

@media screen and (max-width: 1200px) {
  .categorySharedLayout {
    width: 80px;
    min-height: 800px;
    margin-right: 10%;
  }
}
